name: Ozn치menie releasu na Discord

on:
  release:
    types: [published]

jobs:
  oznam-na-discord:
    runs-on: ubuntu-latest
    steps:
      - name: Posla콘 spr치vu na Discord
        env:
          WEBHOOK_URL: ${{ secrets.DISCORD_WEBHOOK }}
          RELEASE_NAME: ${{ github.event.release.name }}
          RELEASE_TAG: ${{ github.event.release.tag_name }}
          RELEASE_BODY: ${{ github.event.release.body }}
          RELEASE_TIME: ${{ github.event.release.published_at }}
        run: |
          JSON=$(cat <<EOF
{
  "embeds": [
    {
      "title": "游 Nov치 verzia bola vydan치: $RELEASE_TAG",
      "description": "**游늷 N치zov:** $RELEASE_NAME\n\n游닇 **Zoznam zmien:**\n$RELEASE_BODY",
      "color": 16753920,
      "timestamp": "$RELEASE_TIME"
    }
  ]
}
EOF
)
          curl -H "Content-Type: application/json" \
               -X POST \
               -d "$JSON" \
               "$WEBHOOK_URL"
