name: Ozn치menie releasu na Discord

on:
  release:
    types: [published]

jobs:
  oznam-na-discord:
    runs-on: ubuntu-latest
    steps:
      - name: Posla콘 spr치vu na Discord
        run: |
          curl -H "Content-Type: application/json" \
               -X POST \
               -d "{
                 \"embeds\": [{
                   \"title\": \"游 Nov치 verzia bola vydan치: ${{ github.event.release.tag_name }}\",
                   \"description\": \"**游늷 N치zov:** ${{ github.event.release.name }}\\n游댕 [Zobrazi콘 release](${{ github.event.release.html_url }})\\n\\n游닇 **Zoznam zmien:**\\n```\n${{ github.event.release.body }}\n``` \",
                   \"color\": 16753920,
                   \"footer\": {
                     \"text\": \"Automatick칠 ozn치menie z GitHubu\"
                   },
                   \"timestamp\": \"${{ github.event.release.published_at }}\"
                 }]
               }" \
               ${{ secrets.DISCORD_WEBHOOK }}
