name: Ozn치menie releasu na Discord

on:
  release:
    types: [published]

jobs:
  oznam-na-discord:
    runs-on: ubuntu-latest
    steps:
      - name: Posla콘 spr치vu na Discord
        env:
          WEBHOOK_URL: ${{ secrets.DISCORD_WEBHOOK }}
          TAG_NAME: ${{ github.event.release.tag_name }}
          RELEASE_NAME: ${{ github.event.release.name }}
          RELEASE_BODY: ${{ github.event.release.body }}
          RELEASE_TIME: ${{ github.event.release.published_at }}
        run: |
          ESCAPED_BODY=$(printf "%s" "$RELEASE_BODY" | python3 -c "import json,sys; print(json.dumps(sys.stdin.read()))")
          
          JSON=$(cat <<EOF
{
  "embeds": [{
    "title": "游 Nov치 verzia bola vydan치: $TAG_NAME",
    "description": "**游늷 N치zov:** $RELEASE_NAME\n\n游닇 **Zoznam zmien:**\n${ESCAPED_BODY}",
    "color": 16753920,
    "timestamp": "$RELEA
