name: Ozn치menie releasu na Discord

on:
  release:
    types: [published]

jobs:
  oznam-na-discord:
    runs-on: ubuntu-latest
    steps:
      - name: Posla콘 spr치vu na Discord
        run: |
          curl -H "Content-Type: application/json" \
               -X POST \
               -d "$(jq -n --arg title "游 Nov치 verzia bola vydan치: ${{ github.event.release.tag_name }}" \
                        --arg name "${{ github.event.release.name }}" \
                        --arg body "${{ github.event.release.body }}" \
                        --arg timestamp "${{ github.event.release.published_at }}" \
                        '{
                          embeds: [{
                            title: $title,
                            description: "**游늷 N치zov:** " + $name + "\n\n游닇 **Zoznam zmien:**\n" + $body,
                            color: 16753920,
                            timestamp: $timestamp
                          }]
                        }'
                  )" \
               ${{ secrets.DISCORD_WEBHOOK }}
